/WebApplication1/obj
/WebApplication1/bin
/WebApplication2/obj
/WebApplication2/bin
/ApiDemo/obj
/ApiDemo/bin
.vs
/IntegrationTests/obj
/IntegrationTests/bin
/GoogleDemo/cypress/cucumber-json
/GoogleDemo/cypress/reports
/PerformanceApiDemo/jmeter.log
/PerformanceApiDemo/Result/ErrorLog_ApiDemo.jtl
/PerformanceApiDemo/Result/rt_PT_ResponseTime_ApiDemo.csv
